@{
    ViewData["Title"] = "Time Attendance Biometrics Fingerprint Wages Salaries Payroll Validite";
    ViewData["PageTitle"] = "Home";
}

<div class="row">

    <div class="col-md-6">

        <div class="panel panel-default ">
            <div class="panel-heading">Time and Attendance - Internet and Local</div>
            <div class="panel-body">


                <div class="row">

                    <div class="col-md-6">

                        <p>The Validite <strong>@Html.ActionLink("Time Attendance", "TimeAttendance", "Home")</strong> program is a <strong>Web-Based</strong> application. It has a corresponding <strong>Client</strong> side where Employee Clock Ins / Outs are captured and uploaded to the Internet.</p>

                    </div>

                    <div class="col-md-6">

                        <div class="alert alert-info">
                            <h5><strong>Employee Monthly Cost</strong></h5>

                            <ul>

                                <li>Time Attendance - R12.00</li>

                            </ul>

                            <br />

                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6">

                        <h5><strong>Key Features</strong></h5>

                        <div class="col-md-12">

                            <ul>

                                <li>Biometrics</li>
                                <li>Time Sheet Roll-Up</li>
                                <li>Wage Interface</li>
                                <li>Upload to Internet</li>
                                <li>Interface to all Clocking systems</li>

                            </ul>

                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="alert alert-info">

                            <h5><strong>Have your own Clocks?</strong></h5>
                            <p>Use our software to move your Clockings onto the Internet for Wage processing. @Html.ActionLink("...Read More", "TimeAttendance", "Home")</p>

                        </div>

                    </div>

                </div>

                <h3><strong>Employee Clocking Process</strong></h3>
                                
                <div class="row">

                    <div class="col-md-12">

                        <p><strong>A) Employee places Finger on Biometric Fingerprint Reader</strong></p>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6">

                        <ul>

                            <li>Employee places finger on Biometric Fingerprint Reader</li>
                            <li>Fingerprint Image passed to Company ABC - Validite's Web Service</li>
                            <li>Validation of Fingerprint Image</li>
                            <li>Inserts Record if Valid</li>
                            <li>Reply to Biometric Clock</li>

                        </ul>

                        <p><strong>B) Upload of Clockings</strong></p>

                        <ul>

                            <li>Errors in Clockings are fixed on Local SQL Database via Validite Client program</li>
                            <li>Upload of fixed Clockings to Central SQL Database</li>
                            <li>Run Wages / Time Attendance on Validite Internet Site</li>

                        </ul>
                                                                    
                    </div>


                    <div class="col-md-6">

                        <br />
                        <br />
                       
                        <a href="~/Home/Image?imagename=EmployeeClockingProcess.png">

                            <img src="~/Image/EmployeeClockingProcess.png" class="img-thumbnail" alt="Cinque Terre">

                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="col-md-6">

        <div class="panel panel-default ">
            <div class="panel-heading">Payroll - Internet</div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-6">

                        <p>The Validite Payroll program is a <strong>Web-Based</strong> application that caters for <strong>@Html.ActionLink("Wages", "Wages", "Home")</strong> and <strong>@Html.ActionLink("Salaries", "Salaries", "Home")</strong>.</p>

                    </div>

                    <div class="col-md-6">

                        <div class="alert alert-info">
                            <h5><strong>Employee Monthly Cost</strong></h5>

                            <ul>

                                <li>Salaries - R15.00</li>
                                <li>Wages - R20.00     (Includes Time Attendance Module)</li>

                            </ul>
                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">

                        <h5><strong>Key Features</strong></h5>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6">

                        <ul>

                            <li>Internet-Based</li>
                            <li>Multi-Company</li>
                            <li>Multi-Cost Centre (Branch)</li>
                            <li>Time Sheet Roll-Up into Wages</li>
                            <li>Leave Automation</li>
                            <li>Caters for Public Holidays</li>

                        </ul>

                    </div>

                    <div class="col-md-6">

                        <ul>

                            <li>Unlimited Users</li>
                            <li>1 Company - 1 Database</li>
                            <li>Off-Site Backups (Daily)</li>
                            <li>Smart-Client (Responsive)</li>
                            <li>Built for Wage Bureaus</li>
                            <li>Easyfile CSV file generation</li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

        <div class="panel panel-default ">
            <div class="panel-heading">Biometrics</div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-md-8">

                        <p>One of the key components of the Validite Time Attendance system is its <strong>@Html.ActionLink("Biometric", "Biometrics", "Home")</strong> Component.</p>

                        <p>Biometrics are automated methods of recognizing a person based on a physiological or behavioral characteristic. Among the features measured are face, fingerprints, hand geometry, handwriting, iris, retinal, vein, and voice.</p>

                        <p>Validite uses <strong>Fingerprint</strong> technology in its solutions as this technology has been proven and is cheaper than the others mentioned.</p>

                    </div>

                    <a href="~/Home/Image?imagename=FingerPrintImageExtraction.png">

                        <img src="~/Image/FingerPrintImageExtraction.png" class="img-thumbnail" alt="Cinque Terre">

                    </a>

                </div>

            </div>

        </div>

    </div>
 
</div>

